<div class="card card-primary">
	<div class="card-header">
		<h3 class="card-title">Como calcular o valor da hora trabalhada?</h3>
	</div>
	
	<div class="card-body">
		<p>
			Existem várias maneiras de você calcular o preço da hora de trabalho
			para um serviço. A forma que é utilizada no Contador de Pontos de
			Função é descrita abaixo:
		</p>
		<ol class="lista_hierarquica">
			<li>Determine qual é o seu cargo (Programador, Analista, DBA, etc);</li>
			<li>Entenda qual o seu nível profissional, em função do cargo (Júnior, Pleno, Sênior, etc);</li>
			<li>
				Obtenha o salário que o mercado está pagando, para o cargo / nível
				em questão, levando em consideração o valor dos benefícios
				(plano de saúde, vale-transporte, vale-alimentação, etc), e se for
				CLT, avaliando os custos de manutenção do funcionário para uma empresa;
				<ol class="lista_hierarquica">
					<li>
						Exemplo 1: Programador Pleno em CLT, com vale-alimentação.
						Salário líquido de cerca de R$ 3.200,00. Se considerar os custos
						do benefício, das férias, do 13º e dos impostos de FGTS,
						o valor real do salário geralmente dobra de valor, ficando
						em cerca de <b>R$ 6.400,00</b>;
					</li>
					<li>
						Exemplo 2: Analista I, sem CLT, porém com plano de saúde
						e vale-transporte. Salário líquido de cerca de R$ 4.200,00.
						Como não é CLT, pode não haver gastos com férias, 13º e
						impostos de FGTS. Porém, há os benefícios. Se considerarmos
						que todos os benefícios citados totalizam cerca de R$ 1.000,00,
						então o valor real do salário poderia ficar em torno de
						<b>R$ 5.200,00</b>;
					</li>
				</ol>
			</li>
			<li>
				Obtenha a quantidade de horas mensais de trabalho, em média,
				para o cargo / nível em questão;
				<ol class="lista_hierarquica">
					<li>
						Exemplo: Se você trabalha 8 horas por dia, de segunda
						a sexta, isso quer dizer que você trabalha 40 horas
						semanais, o que multiplicado por 4 semanas (tempo médio
						mensal), resultará em <b>160 horas por mês</b>.
					</li>
				</ol>
			</li>
			<li>
				Por fim, divida o valor do salário obtido no item 3, pela
				quantidade de horas mensais obtida no item 4 acima. O resultado dessa
				divisão será o valor da hora trabalhada.
				<ol class="lista_hierarquica">
					<li>
						Exemplo 1: Programador Pleno com CLT. Se dividir 6400 por 160, o
						valor da hora será <b>R$ 40,00</b>.
					</li>
					<li>
						Exemplo 2: Analista I sem CLT. Se dividir 5200 por 160,
						o valor da hora será <b>R$ 32,50</b>.
					</li>
				</ol>
			</li>
		</ol>
		<p>
			Vale citar que os valores calculados acima poderão ser incrementados
			com outros custos envolvidos, como gasto com luz, impostos, custos
			com transportes, etc. As instruções acima servem apenas como um ponto
			de partida.
		</p>
		<a href="http://tutano.trampos.co/13156-quanto-vale-preco-hora-como-freelancer/" target="_blank">Fonte</a>
	</div>
	
	<div class="card-footer text-center">
		<button type="submit" name="Submit" class="btn btn-info" onclick="jModalRemove()">
			<i class="fas fa-times"></i>
			Fechar
		</button>
	</div>
</div>