<div class="card card-primary">
	<div class="card-header">
		<h3 class="card-title">Como foi calculado este valor de ponto de função?</h3>
	</div>
	
	<div class="card-body">
		<p>
			Comumente, entre órgãos públicos governamentais, quando é orçado o
			desenvolvimento de um software, é adotado o uso de valores de PF.
			Basicamente é um valor, em reais, que um ponto de função custa.
		</p>
		<p>
			Este valor não é fixo, variando bastante em função de diversos fatores:
		</p>
		<ul>
			<li>
				<b>Linguagem de Programação</b>: Dependendo da linguagem usada,
				e da forma como ela funciona, o desenvolvimento do software pode
				ser mais simples, ou mais complexo, e isso impacta diretamente
				na precificação. O valor de um PF de um sistema desenvolvido em
				Java pode custar mais caro que em PHP, por exemplo;
			</li>
			<li>
				<b>Natureza do Trabalho</b>: Se for uma construção de software
				do zero, ou se for um trabalho de manutenção em um software já
				existente. O primeiro custa mais que o segundo;
			</li>
			<li>
				<b>Artefatos Entregues</b>: Se, junto com a entrega do software,
				há a geração de artefatos como modelo de UML, manual do usuário,
				ajuda on-line, protótipos, casos de testes, etc. Quanto mais
				artefatos adicionais forem envolvidos, maior o valor do PF;
			</li>
			<li>
				<b>Manutenção por Terceiros</b>: Se o trabalho de manutenção em
				um software existente for feito por uma empresa diferente da
				original. Nesse caso, o valor do PF pode aumentar, tendo em vista
				fatores como estudo do código-fonte, e possibilidade de re-documentação;
			</li>
			<li>
				<b>Oscilações na Economia</b>: Fatores como inflação e reajustes
				salariais podem fazer o valor do PF aumentar ou diminuir ao longo
				do tempo.
			</li>
		</ul>
		<p>
			Por conta desses fatores, não há um valor fixo. Na verdade, cada
			edital de desenvolvimento de software adota valores diferentes, em
			função da natureza de cada projeto. A tabela abaixo ilustra alguns
			valores, encontrados em editais recentes, que o sistema faz uso:
		</p>
		<table class="table table-bordered table-sm">
			<thead>
				<tr>
					<th class="align-middle">Orgão Governamental</th>
					<th class="align-middle">Edital</th>
					<th class="align-middle">Serviço</th>
					<th class="align-middle">Linguagens de Programação</th>
					<th class="align-middle">Valor do PF (R$)</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td rowspan="2">Controladoria-Geral da União</td>
					<td rowspan="2">Pregão Eletrônico Nº 20/2015</td>
					<td rowspan="2">Desenvolvimento do software "Programa de Fortalecimento da Prevenção e Combate à Corrupção na Gestão Pública Brasileira" (PROPREVINE)</td>
					<td>Java, dotNet, PHP</td>
					<td>1.061,63</td>
				</tr>
				<tr>
					<td>Python / Zope / Plone</td>
					<td>608,33</td>
				</tr>
				<tr>
					<td>Ministério do Planejamento, Orçamento e Gestão</td>
					<td>Pregão Eletrônico Nº 08/2016</td>
					<td>Contratação de empresa na prestação de serviços de desenvolvimento e manutenção de softwares</td>
					<td>Python</td>
					<td>571,67</td>
				</tr>
			</tbody>
		</table>
		<a href="http://www.fattocs.com/pt/faq-14.html" target="_blank">Fonte</a>
	</div>
	
	<div class="card-footer text-center">
		<button type="button" class="btn btn-info" onclick="jModalRemove()">
			<i class="fas fa-times"></i>
			Fechar
		</button>
	</div>
</div>